:root {
  --primary-background-color: #ffffff;
  --secondary-background-color: #2f303a;
  --primary-text-color: #757575;
  --secondary-text-color: #212121;
  --accent-color: #2196f3;
}

body {
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;

  color: var(--primary-text-color);
  background-color: var(--primary-background-color);
}
h1,
h2,
h3,
p,
ul {
  margin-top: 0;
  margin-bottom: 0;
}
.container {
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}
.logo {
  display: flex;
  margin-top: 25px;
  margin-bottom: 25px;
  margin-right: 93px;

  font-family: 'Raleway', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  text-decoration: none;

  color: var(--accent-color);
}
.logo-studio-white {
  color: var(--primary-background-color);
}
.logo-studio-black {
  color: black;
}
.button {
  display: inline-block;
  border: 1px solid transparent;
  border-radius: 4px;
  padding: 6px 22px;

  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.63;
  text-align: center;
  cursor: pointer;

  background-color: #f5f4fa;
}
.button:hover,
.button:focus {
  color: var(--primary-background-color);
  background-color: var(--accent-color);
}
.link {
  text-decoration: none;
  color: var(--primary-text-color);
}
.link:hover,
.link:focus {
  color: var(--accent-color);
}
.list {
  padding: 0;

  list-style-type: none;
}
.header-container {
  display: flex;
  justify-content: start;
  align-items: center;
}
.header-list {
  display: flex;
  margin-top: 32px;
  margin-bottom: 32px;
}
.header-item:not(:last-child) {
  margin-right: 50px;
}
.header-link {
  display: flex;
  margin-top: 32px;
  margin-bottom: 32px;
  margin-left: auto;
}
.navigation {
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
}
.navigation-list {
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;

  color: var(--secondary-text-color);
}
.main-page {
  color: var(--accent-color);
}
.section {
  padding-top: 94px;
  padding-bottom: 94px;
}
.no-padding {
  padding-top: 0;
}
.section-hero {
  padding-top: 200px;
  padding-bottom: 200px;
  text-align: center;

  background-color: var(--secondary-background-color);
}
.title-hero {
  width: 696px;
  margin-bottom: 5px;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  margin: 0 auto;

  letter-spacing: 0.06em;
  text-transform: uppercase;

  color: var(--primary-background-color);
}
.button.button-hero {
  padding: 10px 32px;

  font-weight: 700;
  line-height: 1.88;
  letter-spacing: 0.06em;

  color: var(--primary-background-color);
  background-color: var(--accent-color);
}
.features-title {
  margin-bottom: 10px;

  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;

  color: var(--secondary-text-color);
}
.features-list {
  display: flex;
}
.features-item:not(:last-child) {
  margin-right: 30px;
}

.responsibilities-title {
  margin-bottom: 50px;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;

  color: var(--secondary-text-color);
}
.responsibilities-list {
  display: flex;
}
.responsibilities-item:not(:last-child) {
  margin-right: 30px;
}
.section-team {
  font-size: 16px;
  line-height: 1.19;
}

.team-members {
  font-weight: 500;

  color: var(--secondary-text-color);
}
.footer {
  background-color: var(--secondary-background-color);
}
.address-street {
  font-style: normal;

  color: var(--primary-background-color);
}
.address-contacts {
  font-style: normal;

  color: rgba(255, 255, 255, 0.6);
}
.projects-titles {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;

  color: var(--secondary-text-color);
}
.projects-examples {
  font-size: 16px;
  line-height: 1.87;
}
/* DZ3 */
